* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 16px;
}

/*HEADER*/
.header {
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 24px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 2px;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.nav-menu {
    display: flex;
    gap: 32px;
}

.nav-menu a {
    position: relative;
    text-decoration: none;
    color: #777;
}

.nav-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #000;

    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s ease;
}

.nav-menu a:hover {
    color: #000;
    transition: 0.6s;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
}

.nav-menu a.active {
    color: #000;
}

.nav-menu a.active::after {
    transform: scaleX(1);
}

.nav-menu a.active:hover::after {
    transform: scaleX(1);
}

.header-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-icons i {
    font-size: 16px;
    color: #000;
}

.header-icons #menu {
    display: none;
}

.header-search-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 12px 0;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 999;
}

.header-search-wrapper.active {
    display: block;
}

.header__search {
    max-width: 1200px;
    width: 100%;
    padding: 0 16px;
    margin-left: 17%;
}

.header__search input {
    border: none;
    width: 100%;
    padding: 8px 34px;
    outline: none;
    font-size: 14px;
}

/* MENU */
/* Ẩn icon menu desktop */
.menu-toggle {
    display: none;
    font-size: 20px;
    cursor: pointer;
}

.mobile-menu {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 2000;
}

.mobile-menu.active {
    display: block;
}

.mobile-menu-content {
    width: 85%;
    max-width: 320px;
    height: 100%;
    background: #f5f5f5;
    padding: 20px;
    animation: slideIn 0.3s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-header h1 {
    font-size: 28px;
}

.close-menu {
    font-size: 24px;
    cursor: pointer;
}

.desc {
    margin: 15px 0;
    color: #666;
    font-size: 14px;
}

.menu-box {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.menu-box p {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.mobile-menu a {
    display: block;
    padding: 12px 0;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #000;
}

/*PRODUCT*/

.product__sp {
    display: flex;
}

img {
    max-width: 100%;
    height: auto;
}

.image {
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product__card {
    background: #fff;
    width: 550px;
    padding: 20px;
    border-radius: 8px;
    margin-left: 70px;
}

.product__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subtitle {
    color: #555;
    margin-bottom: 15px;
}

.rating {
    color: #f4c542;
    font-size: 14px;
    margin-bottom: 10px;
}

.rating span {
    color: #333;
    margin-left: 5px;
}

.price__setion {
    border-top: 1px solid #ddd;
}

.price {
    font-size: 34px;
    font-weight: bold;
    margin-top: 10px;
}

.note {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.size__section {
    margin-bottom: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.size__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.size__guide {
    color: #0077cc;
    font-size: 16px;
    text-decoration: none;
}

.size__guide:hover {
    text-decoration: underline;
}

.size__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.size__list button {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.size__list button:hover,
.size__list button:focus {
    background-color: #000;
    color: #fff;
}

.color__section {
    margin: 16px 0;
}

.color__header {
    margin-bottom: 10px;
    font-size: 14px;
}

.color__list {
    display: flex;
    gap: 12px;
}

.color-item {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 1.5px solid #ccc;
    cursor: pointer;
    background: transparent;
}

.color-item.active {
    border: 2px solid #000;
}


.btn {
    display: flex;
}

.add-wishlist {
    margin: 9px 4px;
    width: 50px;
    height: 40px;
    border-radius: 6px;
}

.add-cart {
    width: 100%;
    background: #000;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    margin: 10px 0 20px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.add-cart:hover {
    background: #333;
}

.section {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.section h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.section ul {
    list-style: none;
}

.section li {
    font-size: 14px;
    margin: 8px 0;
}

.section i {
    color: #000000;
    margin-right: 5px;
}

/*HƯỚNG DẪN SIZE*/
#sizeGuideModal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    text-align: center;
}

#sizeGuideModal .conduct {
    max-width: 90%;
    max-height: 90%;
    animation: fadeIn 0.25s ease;
}

#sizeGuideModal .size__giay {
    width: 90%;
    height: auto;
}


/*FOOTER*/
.footer {
    background: #111;
    color: #aaa;
    padding: 60px 0 30px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-logo {
    color: #fff;
}

.footer-col h3 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-col a {
    display: block;
    color: #aaa;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-col a:hover {
    color: #fff;
}

.social-icons span {
    display: inline-block;
    background: #222;
    color: #fff;
    padding: 8px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;

}

.footer-bottom {
    max-width: 1200px;
    margin: auto;
    border-top: 1px solid #222;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
}

.footer-bottom a {
    color: #aaa;
    margin-left: 20px;
    text-decoration: none;
}

@media (max-width: 768px) {

    /* HEADER */
    .nav-menu {
        display: none;
    }

    .header-container {
        padding: 14px 16px;
    }

    .logo {
        font-size: 20px;
    }

    .header-icons .user {
        display: none;
    }

    .header-icons #menu {
        display: block;
    }

    .header__search{
        margin-left: -6%;
    }

    .search-item{
        margin-left: -14%;
    }
    /* PRODUCT */
    .product__sp {
        flex-direction: column;
    }

    .img {
        width: 100%;
    }

    .product__card {
        width: 100%;
        margin-left: 0;
        padding: 16px;
    }

    .product__title {
        font-size: 24px;
    }

    .price {
        font-size: 26px;
    }

    .note {
        font-size: 14px;
    }

    .size__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .color-item {
        width: 24px;
        height: 24px;
    }

    .btn {
        flex-direction: column;
        gap: 10px;
    }

    .add-wishlist {
        width: 100%;
        height: 40px;
        margin-top: -25px;
        margin-left: 0;
    }

    .add-cart {
        font-size: 14px;
        padding: 12px;
    }

    .section {
        padding: 10px 0;
    }

    #sizeGuideModal .size__giay {
        width: 100%;
    }

    /* FOOTER */
    .footer-container {
        grid-template-columns: 1fr;
        padding: 0 16px;
    }

    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
}
